CompileFlags:
  Add:
  - -DLOCAL
  - -Wall
  - -O2
  - -Wextra
  - -Wshadow
  - -Wconversion
  - -Wfloat-equal
  - -Wno-unused-const-variable
  - -Wno-sign-conversion
  - -std=c++17
  - -I/opt/homebrew/Cellar/gcc/13.1.0/bin/../lib/gcc/current/gcc/aarch64-apple-darwin22/13/../../../../../../include/c++/13
  - -I/opt/homebrew/Cellar/gcc/13.1.0/bin/../lib/gcc/current/gcc/aarch64-apple-darwin22/13/../../../../../../include/c++/13/aarch64-apple-darwin22
  - -I/opt/homebrew/Cellar/gcc/13.1.0/bin/../lib/gcc/current/gcc/aarch64-apple-darwin22/13/../../../../../../include/c++/13/backward
  - -I/opt/homebrew/Cellar/gcc/13.1.0/bin/../lib/gcc/current/gcc/aarch64-apple-darwin22/13/include
  - -I/opt/homebrew/Cellar/gcc/13.1.0/bin/../lib/gcc/current/gcc/aarch64-apple-darwin22/13/include-fixed
  - -I/Library/Developer/CommandLineTools/SDKs/MacOSX13.sdk/usr/include
  - -I/Library/Developer/CommandLineTools/SDKs/MacOSX13.sdk/System/Library/Frameworks
Index:
  Background: Skip
